* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

main {
  width: 100%;
  overflow-y: hidden;
}

h1,
h2,
h3,
a,
p {
  color: #1d1d1b;
  font-family: neue-haas-grotesk-text, sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h2 {
  font-size: 0.75rem;
  font-weight: 300;
}

h3 {
  font-weight: 600;
}
a,
input,
button {
  transition: 0.3s;
}
a {
  text-decoration: none;
  color: #1d1d1b;
  font-weight: 500;
}

a:not(.a_img):hover,
input:hover,
button:hover,
header #burgercontent:hover,
header #burgercontent:active .burger,
header #burgercontent:active .burger:after,
header #burgercontent:active .burger:before, #burgercontent:hover .burger.closeclick {
  color: black;
  background-color: #d9ebff;
}

a:not(.a_img):active,
input:active,
button:active,
header #burgercontent:active, #burgercontent:active .burger.closeclick {
  background-color: #007aff;
  color: white;
}

button {
  font-size: 1rem;
  padding: 15px 40px 15px 40px;
  width: fit-content;
  border: none;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  h1 {
    font-size: 1rem;
  }
}
