* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F3F3;
    overflow-x: hidden;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
a,
p {
    color: #1d1d1b;
    font-family: neue-haas-grotesk-text, sans-serif;
}

h1, h2, h3{
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #1d1d1b;
    transition: 0.3s;
}

a:hover {
    color: #007AFF;
}

a:active {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
}