header {
    width: calc(100% - 100px);
    height: 35px;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
header h1{
    font-size: 0.75rem;
    font-weight: 300;
}

header nav,
header #burgercontent,
header #burgercontent .burger,
header #burgercontent .burger:after,
header #burgercontent .burger:before {
    transition: 0.7s;
}

header>a,
header>a picture,
header>a picture img {
    width: auto;
    height: 35px;
}

header #burgercontent {
    z-index: 10;
    position: relative;
    float: right;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 6px;
}

header #burgercontent:hover,
header #burgercontent:active .burger,
header #burgercontent:active .burger:after,
header #burgercontent:active .burger:before {
    background-color: white;
}

header #burgercontent:active {
    background-color: #007AFF;
}

header #burgercontent .burger,
header #burgercontent .burger:after,
header #burgercontent .burger:before {
    content: '';
    border-radius: 1px;
    height: 1.5px;
    position: absolute;
    background-color: #1d1d1b;
}

/* burger open  */
header #burgercontent .burger.open {
    top: 50%;
    left: 7.5px;
    width: 20px;
}

header #burgercontent .burger.open:before {
    top: -7.5px;
}

header #burgercontent .burger.open:after {
    top: 7.5px;
}

header #burgercontent .burger.open:after,
header #burgercontent .burger.open:before {
    width: 20px;
    height: 1.5px;
}

/* Burger Close */
header .burger.close,
.burger.closeclick {
    width: 0px;
    top: 50%;
    left: 7.5px;
}

header #burgercontent .burger.close:after,
header #burgercontent .burger.close:before,
header #burgercontent .burger.closeclick::before {
    width: 20.52px;
    top: 0px;
    left: 0;
}

header #burgercontent .burger.close:before,
.burger.closeclick::before {
    transform: rotate(46.97deg);
}

header #burgercontent .burger.close:after,
header #burgercontent .burger.closeclick:after {
    transform: rotate(-46.97deg);
}

header #burgercontent .burger.closeclick:after {
    width: 10.52px;
    left: 1px;
    top: 3.5px;
}

header nav {
    z-index: 9;
    position: absolute;
    width: 400px;
    height: 100vh;
    background-color: white;
    right: -50px;
    top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px 0px;
}

header nav.close {
    transform: translateY(100%);
}

header nav.open {
    transform: translateY(0%);
}

header nav a {
    font-weight: 500;
    font-size: 1.5rem;

}

@media only screen and (max-width: 600px) {
    header {
        width: calc(100% - 40px);
        margin: 20px;
    }
    header nav {
        width: 100vw;
        right: -20px;
        top: -20px;
    }
    header h1{
        font-size: 1rem;
    }
}