/* ---------------------------------------------------------------- */
/* melange 3 main sections */
/* ---------------------------------------------------------------- */
main section:nth-child(0n + 2) article > #contentCarr > div,
header,
main section:first-child form p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main section {
  float: left;
  min-height: 580px;
  margin-top: 130px;
}

main section,
main section article,
main section:first-child > div img,
main section:nth-child(0n + 2) article > #contentCarr > div picture img,
main section:first-child > div div,
main section:first-child > div {
  width: 100%  !important;
}

main section:not(:first-child) {
  margin-top: 300px;
}

main section article {
  overflow-x: hidden;
}

main section:not(:first-child) {
  height: Calc(100vh - 200px);
  display: flex;
  justify-content: center;
}

main section:nth-child(0n + 2) article > #contentCarr > div > div,
main section:last-child article:first-child,
header nav {
  justify-content: center;
}

main section,
main section:nth-child(0n + 2) article > #contentCarr,
main section:last-child > div img:hover,
header nav,
header #burgercontent,
header #burgercontent .burger:after,
header #burgercontent .burger:before {
  transition: 0.7s;
}
main section:nth-child(0n + 2),
main section:first-child > article,
main section:first-child form,
main section:first-child form > div,
main section:nth-child(0n + 2) article > #contentCarr > div > div,
main section:last-child article:first-child,
header nav {
  display: flex;
  flex-direction: column;
}
/* ---------------------------------------------------------------- */
/* vote */
/* ---------------------------------------------------------------- */
main section:first-child form {
  margin-left: 50px;
  position: relative;
}
main section:first-child form,
main section:first-child form > div {
  gap: 15px;
}
main section:first-child form p {
  width: fit-content;
}
main section:first-child form p label {
  margin-left: 20px;
}
main section:first-child form > input {
  position: absolute;
  bottom: 50px;
}
main section:first-child form p > input[type="email"],
main section:first-child form p > input[type="number"],
main section:first-child form p > input[type="text"] {
  width: 200px;
  height: 25px;
  padding: 5px 20px;
  font-size: 1rem;
}
/* ---------------------------------------------------------------- */
/* accueil */
/* ---------------------------------------------------------------- */
main section:first-child {
  /* parametre de la main section en général */
  height: Calc(100vh - 130px);
  display: grid;
  grid-template-columns: 545px 1fr;
  grid-template-rows: 1fr 2fr;
}
main section:first-child h2,
main section:first-child h3 {
  margin-left: 50px;
  grid-column: 1;
  grid-row: 1;
  height: fit-content;
}
main section:first-child h2 {
  font-weight: 700;
  font-size: 3.2rem;
}
main section:first-child h3 {
  margin-top: 81px;
  font-weight: 300;
  font-size: 1.2rem;
}
main section:first-child > div {
  /*  block avec l'img */
  overflow: hidden;
  position: relative;
  grid-column: 2;
  grid-row: 1 / span 2;
}
main section:first-child > div div {
  /* positionement de la barre rouge transparente au dessus de la photo */
  position: absolute;
  height: 280px;
  background-color: #d7282876;
  bottom: 90px;
  border-radius: 157px 0px 0px 157px;
}

main section:first-child > div img {
  object-position: top;
  height: 100%;
  margin: 0;

  object-fit: cover;
}
main section:first-child > article {
  gap: 30px;
  justify-content: end;
  grid-column: 1;
  grid-row: 2;
}
main section:first-child > article button,
main section:first-child > article p {
  /* décale le button et le p pour qu'il fit avec le header */
  margin-left: 50px;
}
main section:first-child > article button {
  margin-bottom: 50px;
}
/* ---------------------------------------------------------------- */
/* scandale */
/* ---------------------------------------------------------------- */
main section:last-child article:first-child {
  gap: 50px;
  height: 100%;
  width: 600px;
}
main section:last-child > div {
  /* contrent des images a droite du texte */
  width: calc(100% - 600px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main section:last-child article:first-child h3,
main section:last-child article:first-child p {
  width: 450px;
}
main section:last-child article:first-child h3,
main section:last-child article:first-child p,
main section:last-child article:first-child button {
  margin-left: 100px;
}

main section:last-child > div img {
  /* image arrondi a droite du texte */
  position: relative;
  z-index: 1;
  height: 80%;
  width: 25%;
  object-fit: cover;
  border-radius: 200px;
  filter: grayscale(1);
}
main section:last-child > div img:last-child {
  margin-right: 50px;
}

main section:last-child > div img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* ---------------------------------------------------------------- */
/* carroussele */
/* ---------------------------------------------------------------- */

main section:nth-child(0n + 2) .switch,
main section:nth-child(0n + 2) h2 {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

main section:nth-child(0n + 2) h2 {
  margin-top: -25px;
}

main section:nth-child(0n + 2) .switch {
  /* fleche pour changer de slide */
  margin-top: 10px;
}

main section:nth-child(0n + 2) .switch input {
  /* btn fleche */
  width: fit-content;
  border-radius: 100%;
}

main section:nth-child(0n + 2) .switch #back {
  visibility: collapse;
  margin-right: 180px;
  transform: rotate(180deg);
}

main section:nth-child(0n + 2) article > #contentCarr > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main section:nth-child(0n + 2) article {
  height: 90%;
}

main section:nth-child(0n + 2) article > #contentCarr > div picture,
main section:nth-child(0n + 2) article > #contentCarr > div picture img,
main section:nth-child(0n + 2) article > #contentCarr > div,
main section:nth-child(0n + 2) article > #contentCarr {
  height: 100%;
}

main section:nth-child(0n + 2) article > #contentCarr {
  /* carrousel */
  margin-right: 100%;
  width: 500%;
  display: flex;
  flex-direction: row;
}

main section:nth-child(0n + 2) article > #contentCarr > div {
  width: 100vw;
}

main section:nth-child(0n + 2) article > #contentCarr > div > div {
  width: calc(50% - 150px);
  margin-right: 50px;
  gap: 50px 0;
}

main section:nth-child(0n + 2) article > #contentCarr > div > div h3,
main section:last-child article:first-child h3 {
  /* modifie le titre des carrouselle et de la derniére partie de la page */
  font-size: 3rem;
}

main section:nth-child(0n + 2) article > #contentCarr > div picture {
  width: 50%;
}

main section:nth-child(0n + 2) article > #contentCarr > div picture img {
  object-fit: cover;
}

main section:nth-child(0n + 2) article > #contentCarr > div picture {
  overflow: hidden;
  border-radius: 0 50vh 50vh 0;
}

@media only screen and (max-width: 1300px) {
  /* adaptation de la premiére page */
  main section:first-child {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 250px;
  }
  main section:first-child > article {
    gap: 20px;
    grid-row: 3;
  }
  main section:first-child > article p {
    width: 50vw;
  }
  main section:first-child > article button {
    margin-bottom: 30px;
  }
  main section:first-child > div {
    grid-column: 1;
    grid-row: 2;
  }
  main section:first-child h2 {
    font-size: 2rem;
  }
  main section:first-child h3 {
    font-size: 1rem;
    margin-top: 50px;
  }
  main section:first-child > div div {
    bottom: 20px;
    border-radius: 157px 0px 0px 157px;
  }

  /* adaptation de la carroussel page */
  main section:nth-child(0n + 2) article > #contentCarr > div {
    flex-direction: column;
  }

  main section:nth-child(0n + 2) article > #contentCarr > div picture {
    width: 90%;
    margin-right: 10%;
  }

  main section:nth-child(0n + 2) article > #contentCarr > div > div {
    width: calc(100% - 100px);
    height: 300px;
    gap: 20px 0;
    margin-right: 50px;
    justify-content: center;
  }

  main section:nth-child(0n + 2) article > #contentCarr > div > div h3,
  main section:last-child article:first-child h3 {
    font-size: 2rem;
  }

  main section:nth-child(0n + 2) article > #contentCarr > div picture {
    height: calc(100% - 300px);
  }

  /* page scandale */
  main section:last-child {
    flex-direction: column-reverse;
    height: Calc(100vh - 100px);
  }
  main section:last-child article:first-child h3,
  main section:last-child article:first-child p {
    width: 100%;
  }
  main section:last-child article:first-child h3,
  main section:last-child article:first-child p,
  main section:last-child article:first-child button {
    margin-left: 0px;
  }
  main section:last-child article:first-child {
    gap: 30px;
    height: fit-content;
  }
  main section:last-child article:first-child,
  main section:last-child > div {
    width: calc(100% - 100px);
    margin-left: 50px;
  }
  main section:last-child > div {
    flex-grow: 1;
    justify-content: space-between;
  }
  main section:last-child > div img {
    max-width: 250px;
  }
  main section:last-child > div img:last-child {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  main section {
    margin-top: 80px;
  }
  main section:not(:first-child) {
    margin-top: 200px;
  }
  main section:nth-child(0n + 2) article > #contentCarr > div > div {
    width: calc(100% - 40px);
    margin-right: 20px;
    justify-content: center;
  }
  main section:last-child > div {
    width: 100%;
    margin-left: 0;
  }
  main section:last-child article:first-child {
    width: calc(100% - 40px);
    margin: 0 20px;
  }
  main section:nth-child(0n + 2) .switch #back {
    margin-right: 150px;
  }

  main section:first-child {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 180px;
  }
  main section:first-child > article {
    width: 100%;
  }
  main section:first-child > article p,
  main section:first-child > article button,
  main section:first-child h2,
  main section:first-child h3 {
    margin-left: 5%;
    width: 90%;
  }
  main section:first-child h3 {
    display: none;
  }
  main section:first-child h2 {
    font-size: 4rem;
  }
  main section:first-child > div div {
    height: 160px;
  }
}
