section {
    float: left;
    height: Calc(100vh - 200px);
    min-height: 580px;
    margin-top: 130px;
}

section,
section article {
    width: 100%;
}

section:not(:first-child) {
    margin-top: 500px;
}

section article {
    overflow-x: hidden;
}

section:nth-child(0n+2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section,
section article,
section:nth-child(0n+2) article > #contentCarr {
    transition: 0.6s;
}

/* carroussel */
section:nth-child(0n+2) .switch,
section:nth-child(0n+2) h1 {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

section:nth-child(0n+2) h1 {
    margin-top: -25px;
}

section:nth-child(0n+2) .switch {
    margin-top: 10px;
}

section:nth-child(0n+2) .switch input {
    width: fit-content;
    border-radius: 100%;
}

section:nth-child(0n+2) .switch #back {
    visibility: collapse;
    margin-right: 150px;
    transform: rotate(180deg);
}

section:nth-child(0n+2) article > #contentCarr > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section:nth-child(0n+2) article {
    height: 90%;
}

section:nth-child(0n+2) article > #contentCarr > div picture,
section:nth-child(0n+2) article > #contentCarr > div picture img,
section:nth-child(0n+2) article > #contentCarr > div,
section:nth-child(0n+2) article > #contentCarr {
    height: 100%;
}

section:nth-child(0n+2) article > #contentCarr {
    margin-right: 100%;
    width: 500%;
    display: flex;
    flex-direction: row;
}

section:nth-child(0n+2) article > #contentCarr > div {
    width: 100vw;
}

section:nth-child(0n+2) article > #contentCarr > div > div {
    width: calc(50% - 150px);
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px 0;
}

section:nth-child(0n+2) article > #contentCarr > div > div h2 {
    font-size: 3rem;
}

section:nth-child(0n+2) article > #contentCarr > div picture {
    width: 50%;
}

section:nth-child(0n+2) article > #contentCarr > div picture img {
    width: 100%;
    object-fit: cover;
}

section:nth-child(0n+2) article > #contentCarr > div picture {
    overflow: hidden;
    border-radius: 0 50vh 50vh 0;
}

@media only screen and (max-width: 1300px) {
    section:nth-child(0n+2) article > #contentCarr > div {
        flex-direction: column;
    }

    section:nth-child(0n+2) article > #contentCarr > div picture {
        width: 90%;
        margin-right: 10%;
    }

    section:nth-child(0n+2) article > #contentCarr > div > div {
        width: calc(100% - 100px);
        height: 300px;
        gap: 20px 0;
        margin-right: 50px;
        justify-content: center;
    }

    section:nth-child(0n+2) article > #contentCarr > div > div h2 {
        font-size: 2rem;
    }

    section:nth-child(0n+2) article > #contentCarr > div picture {
        height: calc(100% - 300px);
    }
}

@media only screen and (max-width: 600px) {
    section {
        margin-top: 80px;
    }

    section:nth-child(0n+2) article > #contentCarr > div > div {
        width: calc(100% - 40px);
        margin-right: 20px;
        justify-content: center;
    }
}