.scandales section:first-child {
    display: grid;
    grid-template: auto 1fr/ 1fr;
    gap: 50px;

    overflow: hidden;
}

.scandales section:first-child h2 {
    width: 50%;
    min-width: 600px;
}

.scandales section:first-child div {
    align-items: flex-end;
}

.scandales section:first-child div div {
    position: relative;
    width: 0;
    flex-grow: 1;
    height: 90%;
    max-height: 100%;
    background-color: rgb(141, 128, 118);
    border-radius: 50vh 50vh 0 0;
    overflow: hidden;
}

.scandales section:first-child div div:nth-child(2n) {
    height: 60%;
}

.scandales section:first-child div div:hover {
    height: calc(90% + 20px);
}

.scandales section:first-child div div:nth-child(2n):hover {
    height: calc(60% + 20px);
}
.scandales section:first-child div div img {
    z-index: 1;
    height: 100%;
    width: 100%;
    mix-blend-mode: luminosity;
}
.scandales section:first-child div div h3 {
    padding-top: 10px;
    z-index: 2;
    font-weight: 500;
}
.scandales section:first-child div div h3 ~ h4{
    z-index: 1;
    padding-top: 38px;
    padding-bottom: 10px;
}
.scandales section:first-child div div h3, .scandales section:first-child div div h4 {
    z-index: 2;
    position: absolute;
    text-align: center;
    mix-blend-mode: luminosity;
    width: 100%;
    color: rgb(255, 255, 255);
    margin-top: 70px;
    background-color: inherit ;
}
/* color */
.scandales section:first-child div div:first-child, main .grid_text:first-child div div {
    background-color: #940B3F;
}
.scandales section:first-child div div:nth-child(0n + 2), main .grid_text:nth-child(0n + 2) div  div {
    background-color: #F3856D;
}
.scandales section:first-child div div:nth-last-child(0n + 2), main .grid_text:nth-last-child(0n + 2) div div {
    background-color: #F99438;
}
.scandales section:first-child div div:last-child, main .grid_text:last-child div div {
    background-color: #FFC310;
}