/* page vote */
.vote section>div {
    background-color: rgba(255, 255, 0, 0.494);
}

.vote section form {
    justify-content: end;
    height: fit-content;
    gap: 30px;
}

.vote section form div:first-child input,
.vote section form {
    width: calc(100% - 20px);
}
.vote section form div {
    gap: 10px;
}
.vote section form div:last-child p {
    float: left;
}

.vote section form div label {
    margin-left: 20px;
}

.vote section form div:first-child input {
    padding: 10px;
}